#div1 {
    display: flex;
    justify-content: space-around;
}

.card{
    width: 200px;
    height: 170px;
    border: 2px solid black;
    padding-top: 10px;
}

.card-text {
    font-size: 1.5em;
    line-height: 1.5em;
}

.card-left {   
}

.card-button {
}
