#parent{
    display: flex;
    height: 400px;
    background-color: aliceblue;
}

#left_pane{
    flex: 1 1 auto;
}

#right_pane{
    flex: 0 0 300px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#titre{
    flex: 0 0 40px;
    width: 100%;
    background-color: rgb(231, 205, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(249, 221, 255);
}

#footer{
    flex: 0 0 40px;
    width: 100%;
    background-color: rgb(231, 205, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
